<h1>Show Page</h1>
<p>
  <%= image_tag @stylist.image.url(:medium) %>
</p>

<p>
  <%= @stylist.name %>
</p>

<p>
  <%= @stylist.position %>
</p>

<p>
  <%= @stylist.bio %>
</p>

<% @stylist.appointments.each do |appointment|%>
    <%= appointment.name %></br>
    <%= appointment.date %></br>
    <%= appointment.time %></br>
    <%= appointment.hair_style %></br>
    <%= appointment.chemical_services %></br>
    <%= appointment.color_services %></br>
    <%= appointment.treatment_services %></br>
    <%= appointment.weaves %></br>
    <%= appointment.braid %></br>
    <%= appointment.comment %></br>
<% end %>

<%= form_for [@stylist,@stylist.appointments.build] do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :date %><br>
  <%= f.text_field :date, class:"datepicker"%>
</div>
<div class="timepicker">
  <%= f.label :time %><br>
  <%= f.text_field :time, class:"time" %>
</div>
<div class="field">
  <%= f.label "Basic Services" %><br>
  <%= f.select(:hair_style, options_for_select([['Blank',' '],['Basic wash and blow dry','Basic wah and blow dry'],['Trim','Trim'],['Eyelashes','Eyelashes'],
  ['Haircut-starting at','Haircut-starting at'],['Childrens cornrows(beads included)','Childrens cornrows(beads included)'],['Eyebrows','Eyebrows'],
  ['Flat twist style','Flat twist style'],['Ponytails','Ponytails'],['Wrap & Curl','Wrap & Curl'],['Roller Set','Roller Set'],['Flexi Rod Set','Flexi Rod Set'],
  ['Rod Set','Rod Set'],['Twist out','Twist out'],['Braid out','Braid out'],['Silk Wrap Press','Silk Wrap Press'],['Doobie wrapped and pinned','Doobie wrapped and pinned'],
  ['Starter Locs','Starter Locs'],['Loc Re-twist','Loc Re-twist'],['Loc Style','Loc Style']])) %>
</div>

<div class="field">
    <%= f.label "Chemical Services" %></br>
    <%= f.select(:chemical_services, options_for_select([['Blank',' '],['Relaxer touch-up','Relaxer touch-up'],['Relaxer touch-up,wrap & curl','Relaxer touch-up,wrap & curl'],['Relaxer touch-up,roller set','Relaxer touch-up roller set'],
    ['Partial Relaxer','Partial Relaxer'],['Curly Perm','Curly Perm']])) %>
</div>

<div class="field">
    <%= f.label "Color Services" %></br>
    <%= f.select(:color_services, options_for_select([['Blank',' '],['Semi-permanent','Semi-permanent'],['Demi permanent color','Demi permanent color'],['Permanent','Permanent'],
    ['Highlights','Highlights']])) %>
</div>

<div class="field">
    <%= f.label "Treatment Services" %></br>
    <%= f.select(:treatment_services, options_for_select([['Blank',' '],['Deep conditioner','Deep conditioner'],['Steam Treatment','Steam Treatment'],
    ['Specialized hair scalp treatment','Specialized hair scalp treatment']])) %>
</div>

<div class="field">
    <%= f.label "Weaves" %></br>
    <%= f.select(:weaves, options_for_select([['Blank',' '],['Weave Wash and recurl','Weave Wash and recurl'],['Custom U-part Wigs','Custom U-part Wigs'],
    ['Full Head Sew in Weave Installs','Full Head Sew in Weave Installs'],['Quick Weave Starters','Quick Weave Starters']])) %>
</div>

<div class="field">
    <%= f.label "Braids" %></br>
    <%= f.select(:braid, options_for_select([['Blank',' '],['Havana Twist','Havana Twist'],['Marley Twist','Marley Twist'],
    ['Childrens Cornrolls with hair added','Childrens Cornrolls with hair added'],['Box Braids','Box Braids']])) %>
</div>

<div class="field">
  <%= f.label :comment %><br>
  <%= f.text_field :comment %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
