<h1>Appointment Created</h1>

<div id="book_app">
    <%= @appointment.name %></br>
    <%= @appointment.date %></br>
    <%= @appointment.time %></br>
    <%= @appointment.hair_style %></br>
    <%= @appointment.chemical_services %></br>
    <%= @appointment.color_services %></br>
    <%= @appointment.treatment_services %></br>
    <%= @appointment.weaves %></br>
    <%= @appointment.braid %></br>
    <%= @appointment.comment %>
</div>
